<appSettings>
  <add key="SmtpHost" value="Ukloncas.intl.grosvenor.com"/>
  <add key="SmtpFromEmail" value="noreply_dataportal@grosvenor.com"/>
  <add key="SmtpSubjectPrefix" value="[Dev] "/>
  <add key="ServiceAccountUser" value="ITPTracker.Service"/>
  <add key="ServiceAccountPasswordEncoded" value="VW4xYzBybg=="/>
  <add key="Ssis:Catalog" value="SSISDB"/>
  <add key="Ssis:Folder" value="CDW"/>
  <add key="Ssis:Project" value="CDW-SSIS-MANUAL"/>
  <add key="Ssis:Package" value="CDW TreasuryCashFlows.dtsx"/>

  <add key="DataFileSsis:Catalog" value="SSISDB"/>
  <add key="DataFileSsis:Folder" value="CDW"/>
  <add key="DataFileSsis:Project" value="CDW-SSIS-MANUAL"/>
  <add key="DataFileSsis:Package" value="CDW TMSManualAdjustments.dtsx"/>
</appSettings>