<?xml version="1.0"?>
<connectionStrings>
	<!--<add name="ITProjectTracker" connectionString="Data Source=10.71.4.10;Initial Catalog=ProjectTracker;User=Zepto;Password=xX257pt11y;" providerName="System.Data.SqlClient"/>-->
	<add name="ITProjectTracker" connectionString="Data Source=.;Initial Catalog=ProjectTracker;integrated security=true" providerName="System.Data.SqlClient"/>
</connectionStrings>