<div>
    <form name="projectResourceForm" style="margin-top: 20px;">
        <div class="cp-form cp-form-paired clearfix">
       
           
           
            <div class="form-group">
                <label>Business Contact:</label>
                <select class="form-control input-sm" name="BusinessContact" required ng-options="x.UserId as x.FirstNameLastName for x in users" ng-model="project.BusinessContactId"> </select>
            </div>

            <div class="form-group">
                <label>Project Manager:</label>
                <select class="form-control input-sm" name="ProjectManager" required ng-options="x.UserId as x.FirstNameLastName for x in users" ng-model="project.ITProjectManager"> </select>
            </div>

            <div class="form-group">
                <label>Technical Lead:</label>
                <select class="form-control input-sm" name="TechnicalLead" required ng-options="x.UserId as x.FirstNameLastName for x in users" ng-model="project.TechnicalLeadId"> </select>
            </div>
            <div class="form-group">
                <label>Developers:</label>
                <multiselect name="Developers" ms-header="All" multiple="true" required showcheckuncheckall="false" ng-model="developers" template-url="../Scripts/multiselect.tmpl.html" options="item.UserId as item.FirstNameLastName for item in users"></multiselect>

            </div>
            <div class="form-group">
                <label>VSO Path:</label>
               <input type="url" name="Path" class="form-control" ng-model="project.Path" />

            </div>
        </div>
        <div class="modal-footer" style="text-align:center">
            <button type="submit" class="btn btn-primary" ng-click="saveProjectResource()"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
           
        </div>
    </form>
</div>