<client>
  <endpoint address="http://localhost:55960/ITPTrackerService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpMaxMessageSize" contract="GHC.ProjectTracker.IService.IITPTrackerService" name="BasicHttpBinding_IITPTrackerService" />
  
<endpoint address="http://localhost:55960/ProjectTrackerService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpMaxMessageSize" contract="GHC.ProjectTracker.IService.IProjectTrackerService" name="BasicHttpBinding_IProjectTrackerService" />
</client>
